/* Reset default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Define root variables for color palette */
:root {
  --bg3: #12111a;
}
/* Set background color for the body */
body {
  background-color: var(--bg3);
}
/* Set font size for both body and html */
body,
html {
  font-size: 16px;
}
/* Set width for the parent container to 100% */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #523fd7;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
}